@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Base styles for Tailwind */
@layer base {
    html {
        @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors;
    }

    body {
        @apply min-h-screen flex flex-col;
    }
}