---
import {getCollection} from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import LibraryList from '../../components/LibraryList.astro';

const allLibraries = await getCollection('libraries');
// Sort by stars (descending) by default
const sortedLibraries = allLibraries.sort((a, b) => b.data.star - a.data.star);
---

<Layout title="All Open Source Embedded Libraries - OSRTOS" description="Browse all open source embedded libraries">
  <section class="mb-12 text-center pb-8 border-b border-gray-200 dark:border-gray-700">
    <h1 class="text-2xl font-extrabold mb-4 m-0 text-gray-800 dark:text-gray-100">
      Open Source Embedded Libraries
    </h1>
  </section>

  <LibraryList libraries={sortedLibraries} showFilters={false}/>
</Layout>
